# Copyright (c) 2024, WSO2 LLC. (https://www.wso2.com) All Rights Reserved.
#
# WSO2 LLC. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.

# Project information
site_name: "WSO2 Integrator: BI Documentation"
site_description: "Documentation for WSO2 Integrator: BI"
site_author: WSO2
site_url: https://bi.docs.wso2.com/

# Repository information
repo_name: wso2/docs-ballerina-integrator
repo_url: https://github.com/wso2/docs-bi
edit_uri: https://github.com/wso2/docs-bi/edit/main/en/docs/
dev_addr: localhost:8000

# Copyright
copyright: "WSO2 Integrator: BI - Documentation"

# Configuration
theme:
    name: material
    custom_dir: theme/material
    font: false
    toc: false
    palette:
      # Palette toggle for light mode
       - media: "(prefers-color-scheme: light)"
         scheme: default 
         toggle:
          icon: material/brightness-4
          name: Switch to dark mode
      # Palette toggle for dark mode
       - media: "(prefers-color-scheme: dark)"
         scheme: slate
         toggle:
           icon: material/brightness-7
           name: Switch to light mode
    logo: assets/img/logo-for-light.svg
    logo_light: assets/img/logo.svg
    favicon: assets/img/favicon.png
    features:
       - navigation.indexes
       - navigation.path
       - navigation.top
       - navigation.footer
       - navigation.instant.progress
       - content.code.copy
       - content.action.edit
       - content.action.view
       - content.tabs.link
       - search.suggest
       - search.share
    language: 'en'

# Strict Mode
strict: false # Set to true to break the build if there are warnings

# Navigation structure
nav:
  - Home: index.md
  - Get started:
      - Quick Start Guide: get-started/quick-start-guide.md
      - "Install WSO2 Integrator: BI": get-started/install-wso2-integrator-bi.md
      - Develop Integrations:
        - Develop Automation: get-started/develop-automation.md
        - Develop AI Agent: get-started/develop-ai-agent.md
        - Develop Integration as API: get-started/develop-integration-as-api.md
        - Develop Event Integration: get-started/develop-event-integration.md
        - Develop File Integration: get-started/develop-file-integration.md
  - Integration Guides:
      - AI Agents and Other Gen AI Integrations:
        - Direct LLM Invocation:
          - Natural functions(Beta): integration-guides/ai/natural-functions/natural-functions.md
          - Model providers: integration-guides/ai/direct-llm-call/direct-llm-invocation-with-ballerina-model-providers.md
        - RAG:
          - Rag Ingestion: integration-guides/ai/rag/rag-ingestion.md
          - Rag Query: integration-guides/ai/rag/rag-query.md
        - Agents:
          - integration-guides/ai/agents/index.md
          - Introduction to Chat Agents: integration-guides/ai/agents/introduction-to-chat-agents.md
          - Introduction to Inline Agents: integration-guides/ai/agents/introduction-to-inline-agents.md
          - Integrating Agents with MCP Servers: integration-guides/ai/agents/integrating-agents-with-mcp-servers.md
          - Integrating Agents with External Endpoints: integration-guides/ai/agents/integrating-agents-with-external-endpoints.md
        - MCP Service: integration-guides/ai/mcp-service/mcp-service.md
      - Integration As API:
        - Service Orchestration: integration-guides/integration-as-api/service-orchestration.md
        - Message Transformation: integration-guides/integration-as-api/message-transformation.md
        - Message Routing: integration-guides/integration-as-api/message-routing.md
      - File Integration:
        - integration-guides/file-integration/index.md
        - File Sources:
          - Local Files Integration: integration-guides/file-integration/file-sources/local-files-integration.md
          - FTP Integration: integration-guides/file-integration/file-sources/ftp-integration.md
          - FTPS Integration: integration-guides/file-integration/file-sources/ftps-integration.md
          - SFTP Integration: integration-guides/file-integration/file-sources/sftp-integration.md
        - Troubleshooting: integration-guides/file-integration/troubleshooting.md
      - Event Integration:
        - Change Data Capture (CDC):
          - Fraud Detection System with CDC for Microsoft SQL Server: integration-guides/event-integration/cdc/fraud-detection-system-with-cdc-for-mssql.md
      - Use Cases:
        - Expose an Integration Service as a Managed API: integration-guides/usecases/integration-service-as-a-managed-api/expose-an-integration-service-as-a-managed-api.md
        - Data Mapper:
          - Overview: integration-guides/usecases/datamapper/overview.md
          - Read a CSV File and Transform It to an XML File: integration-guides/usecases/datamapper/read-csv-file-and-transform-to-xml-file.md
        - TCP Chat Service: integration-guides/usecases/tcp-chat-service/build-a-tcp-chat-service.md
        - File Integration:
          - Sales Data Synchronization via FTP File Integration: integration-guides/usecases/file-integration/sales-data-sync-with-ftp-file-integration.md
          - Contractor Timesheet Validation: integration-guides/usecases/file-integration/contractor-timesheet-validation.md
        - Database Integration:
          - Order Processing Automation: integration-guides/usecases/database-automation/order-processing-automation.md
  - Developer Guides:
      - Create Integrations:
          Overview: developer-guides/create-integrations/overview.md
          Create an Integration: developer-guides/create-integrations/create-an-integration.md
          Manage Integrations in Workspaces: developer-guides/create-integrations/manage-integrations-in-workspaces.md
      - "WSO2 Integrator: BI Artifacts": developer-guides/wso2-integrator-bi-artifacts.md
      - Design the Integrations: developer-guides/design-the-integrations.md
      - Data Mapping: 
          Manual Data Mapping: developer-guides/data-mapping/manual-data-mapping.md
          AI Data Mapping: developer-guides/data-mapping/ai-data-mapping.md
      - Try the Integration: developer-guides/try-the-integration.md
      - Testing: developer-guides/test-the-integrations.md
      - Debugging & Troubleshooting:
        - Overview: developer-guides/debugging-and-troubleshooting/overview.md
        - Debugging within the Editor: developer-guides/debugging-and-troubleshooting/debugging-within-the-editor.md
        - Remote Debugging Integrations: developer-guides/debugging-and-troubleshooting/remote-debugging-integrations.md
        - Capturing Strand Dumps: developer-guides/debugging-and-troubleshooting/capturing-strand-dumps.md
        - Profiling Runtime Performance: developer-guides/debugging-and-troubleshooting/profiling-runtime-performance.md
      - AI For Integration:
        - Build an HTTP Service With BI Copilot : developer-guides/ai-for-integration/build-an-http-service-with-wso2-copilot.md
      - Protocols and Connectors:
        - Overview of Connectors: developer-guides/protocols-and-connectors/overview-of-connectors.md
        - Supported Protocols: developer-guides/protocols-and-connectors/supported-protocols.md
      - Tools:
        - Migration Tools:
          - Overview: developer-guides/tools/migration-tools/overview.md
          - Mulesoft Migration Tool: developer-guides/tools/migration-tools/mulesoft-migration-tool.md
          - TIBCO BusinessWorks Migration Tool: developer-guides/tools/migration-tools/tibco-businessworks-migration-tool.md
          - Azure Logic Apps Migration Tool: developer-guides/tools/migration-tools/logic-apps-migration-tool.md
        - Integration Tools:
          - Health Tool: developer-guides/tools/integration-tools/health-tool.md
          - EDI Tool: developer-guides/tools/integration-tools/edi-tool.md
        - Other Tools:
          - Scan Tool: developer-guides/tools/other-tools/scan-tool.md
  - Deploy:
      - Overview: deploy/overview.md
      - Deploy to Devant: deploy/deploy-to-devant.md
      - Containerized Deployment:
        - Overview: deploy/containerized-deployment/overview.md
        - Deploy as Docker Image: deploy/containerized-deployment/deploy-as-docker-image.md
        - Deploy on Kubernetes: deploy/containerized-deployment/deploy-on-kubernetes.md
      - VM-based Deployment:
        - Overview: deploy/vm-based-deployment/overview.md
        - Deploy on VM as Executable JAR: deploy/vm-based-deployment/deploy-on-vm-as-executable-jar.md
        - Centralized Deployment: deploy/vm-based-deployment/centralized-deployment.md
        - Decentralized Deployment: deploy/vm-based-deployment/de-centralized-deployment.md
        - GitHub Action for CICD: deploy/vm-based-deployment/github-action-for-cicd.md
      - Managing configurations: deploy/managing-configurations.md
      - Capacity Planning:
        - Overview: deploy/capacity-planning/overview.md
        - Performance Report for REST Services: deploy/capacity-planning/performance-report-for-rest-services.md
      - Deployment Best Practices:
        - Overview: deploy/deployment-best-practices/overview.md
        - Runtime Security: deploy/deployment-best-practices/runtime-security.md
        - OS Level Security: deploy/deployment-best-practices/os-level-security.md
        - Network Level Security: deploy/deployment-best-practices/network-level-security.md
        - Configuration Best Practices: deploy/deployment-best-practices/configuration-best-practices.md
  - Observability and Monitoring:
      - Overview: observability-and-monitoring/overview.md
      - "Monitoring with WSO2 Integrator: ICP": observability-and-monitoring/monitoring-with-wso2-integrator-icp.md
      - Observability with Devant: observability-and-monitoring/observability-with-devant.md
      - Supported Observability Tools and Platforms:
        - Overview: observability-and-monitoring/supported-observability-tools-and-platforms/overview.md
        - Prometheus: observability-and-monitoring/supported-observability-tools-and-platforms/prometheus.md
        - Jaeger: observability-and-monitoring/supported-observability-tools-and-platforms/jaeger.md
        - Zipkin: observability-and-monitoring/supported-observability-tools-and-platforms/zipkin.md
        - New Relic: observability-and-monitoring/supported-observability-tools-and-platforms/new-relic.md
        - Datadog: observability-and-monitoring/supported-observability-tools-and-platforms/datadog.md
        - Elastic Stack: observability-and-monitoring/supported-observability-tools-and-platforms/elastic-stack.md
        - OpenSearch: observability-and-monitoring/supported-observability-tools-and-platforms/opensearch.md
        - Moesif: observability-and-monitoring/supported-observability-tools-and-platforms/moesif.md
  - References:
      - "Enterprise Integrations Patterns": references/enterprise-integrations-patterns.md
      - "System Requirements": references/system-requirements.md
      - "AI Usage & Data Handling Guidelines": references/ai-usage-and-data-handling-guidelines.md
      - "Connector Development Guidelines": references/connector-development-guidelines.md
  - Release Notes:
      - Release Note: wso2-integrator-bi-release-notes.md

# Markdown extensions configuration
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - admonition
  - markdown.extensions.toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.snippets:
      base_path: docs
  - markdown_include.include:
      base_path: docs
  - attr_list

# Plugins configuration
plugins:
    - search:
        lang: ['en']
    - markdownextradata: {}
    - exclude:
          glob:
              - wip/*
    - redirects:
          redirect_maps: {}

# Extra configuration
extra_css:
    - assets/lib/highlightjs/default.min.css
    - assets/css/theme.css
    - assets/css/copy-page.css
    - assets/lib/json-formatter/json-formatter.css
extra_javascript:
    - assets/lib/json-formatter/json-formatter.umd.js
    - assets/lib/highlightjs/highlight.min.js
    - assets/js/theme.js
    - assets/js/copy-page.js
extra:
    material:
      jinja2content: true
    generator: false
    expanded_navs:
    - title: Get started
      options: [verticle-line]
    - title: Integration Guides
      options: [verticle-line]
    nav_icons:
      Home:
        icon: octicons/home-16
        level: 1
      Get started:
        icon: octicons/rocket-16
        level: 1
      Integration Guides:
        icon: octicons/workflow-16
        level: 1
      Developer Guides:
        icon: octicons/browser-16
        level: 1
      Deploy:
        icon: octicons/server-16
        level: 1
      Observability and Monitoring:
        icon: octicons/graph-16
        level: 1
      References:
        icon: octicons/book-16
        level: 1
      Release Notes:
        icon: octicons/pencil-16
        level: 1
    social:
        - icon: fontawesome/brands/github-alt
          link: https://github.com/wso2
          name: WSO2 on GitHub
        - icon: fontawesome/brands/twitter
          link: https://twitter.com/wso2
          name: WSO2 on Twitter
        - icon: fontawesome/brands/linkedin-in
          link: https://www.linkedin.com/company/wso2
          name: WSO2 on LinkedIn
        - icon: fontawesome/brands/youtube
          link: https://www.youtube.com/user/WSO2TechFlicks
          name: WSO2 on YouTube
        - icon: fontawesome/brands/x-twitter
          link: https://twitter.com/intent/follow?screen_name=wso2
          name: WSO2 on X (Twitter)
    # site_version: Uncomment to specify a version
    base_path: https://wso2.github.io/docs-bi
    #base_path: http://localhost:8000
